<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="style.css" rel="stylesheet" />
    <!-- font awesome styles -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
</head>

<body>

    {{> header}}

    <div class="container">
        <div class="well well-small">
            {{#if lcIsAuthenticated}}
            {{#each this.product}}
            <div class="row-fluid">
                <div class="span5">
                    <div id="myCarousel" class="carousel slide cntr">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#"> <img src="../img/{{image}}" alt=""
                                        style="width:100%; border-radius: 10px;"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span7">
                    <h3>{{name}} <span style="color: red;">[${{price}}]</span></h3>
                    <hr class="soft">

                    <form class="form-horizontal qtyFrm" action="../add-to-cart" method="GET">
                        <div class="control-group">
                            <label class="control-label"><span>${{price}}.00</span></label>
                            <div class="controls">
                                <input type="number" class="span6" placeholder="Qty.">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>Color</span></label>
                            <div class="controls">
                                <select class="span11">
                                    <option>Red</option>
                                    <option>Purple</option>
                                    <option>Pink</option>
                                    <option>Red</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>Versions</span></label>
                            <div class="controls">
                                <select class="span11">
                                    <option>Versions 1</option>
                                    <option>Versions 2</option>
                                    <option>Versions 3</option>
                                    <option>Versions 4</option>
                                </select>
                            </div>
                        </div>
                        <h4>100 items in stock</h4>
                        <p>Nowadays the lingerie industry is one of the most successful business spheres.
                        </p>
                        <p>
                            <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Add to
                                cart</button>
                        </p>
                    </form>
                </div>

            </div>
            {{/each}}
            {{else}}
            {{#each this.product}}
            <div class="row-fluid">
                <div class="span5">
                    <div id="myCarousel" class="carousel slide cntr">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#"> <img src="../img/{{image}}" alt=""
                                        style="width:100%; border-radius: 10px;"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span7">
                    <h3>{{name}} <span style="color: red;">[${{price}}]</span></h3>
                    <hr class="soft">

                    <form class="form-horizontal qtyFrm" action="../login" method="GET">
                        <div class="control-group">
                            <label class="control-label"><span>${{price}}.00</span></label>
                            <div class="controls">
                                <input type="number" class="span6" placeholder="Qty.">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>Color</span></label>
                            <div class="controls">
                                <select class="span11">
                                    <option>Red</option>
                                    <option>Purple</option>
                                    <option>Pink</option>
                                    <option>Red</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>Versions</span></label>
                            <div class="controls">
                                <select class="span11">
                                    <option>Versions 1</option>
                                    <option>Versions 2</option>
                                    <option>Versions 3</option>
                                    <option>Versions 4</option>
                                </select>
                            </div>
                        </div>
                        <h4>100 items in stock</h4>
                        <p>Nowadays the lingerie industry is one of the most successful business spheres.
                        </p>
                        <p>
                            <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Add to
                                cart</button>
                        </p>
                    </form>
                </div>

            </div>
            {{/each}}
            {{/if}}
            <hr class="softn clr">


            <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
                <li class=""><a href="#profile" data-toggle="tab">Related Products </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acceseries <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#each this.categories}}
                        <li>
                            <a href="../product/list-by-category?category_id={{id}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content tabWrapper">
                <div class="tab-pane fade active in" id="home">
                    <h4>Product Information</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Công nghệ màn hình:</td>
                                <td class="techSpecTD2">OLED</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Kích thước màn hình:</td>
                                <td class="techSpecTD2">1.57 inch</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Độ phân giải:</td>
                                <td class="techSpecTD2">324 x 394 pixels</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">CPU:</td>
                                <td class="techSpecTD2">Apple S6 64 bit</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Bộ nhớ trong:</td>
                                <td class="techSpecTD2">64GB</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Hệ điều hành:</td>
                                <td class="techSpecTD2">IOS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="profile">
                    <div class="row-fluid">
                        <div class="span2">
                            <img src="../img/apple-watch-s5-lte-day-thep-01-600x600.jpg" alt="">
                        </div>
                        <div class="span6">
                            <h5>Product Name </h5>
                            <p>
                                Nowadays the lingerie industry is one of the most successful business spheres.
                                We always stay in touch with the latest fashion tendencies -
                                that is why our goods are so popular..
                            </p>
                        </div>
                        <div class="span4 alignR">
                            <form class="form-horizontal qtyFrm">
                                <h3> $140.00</h3>
                                <label class="checkbox">
                                    <input type="checkbox"> Adds product to compair
                                </label><br>
                                <div class="btn-group">
                                    <a href="" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to
                                        cart</a>
                                    <a href="" class="shopBtn">VIEW</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{> footer}}

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.easing-1.3.min.js"></script>
    <script src="../js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="../js/shop.js"></script>

</body>

</html>